<head>
  <link rel="stylesheet" href="/style.css">
</head>

  <div class="hero" ng-controller="register">
    <div class="form-box">
      <div class="button-box">
        <div id="btn"></div>
        <button type="button" class="toggle-btn"><big>IMDB 2.0</big></button>
        
      </div>
      <div class="social-icons">
        <img src="./../Images/fb.png">
        <img src="./../Images/tw.png">
        <img src="./../Images/gp.png">
      </div>
      
      <form id="register" class="input-group" ng-submit="registerfun()">
        <input type="text" class="input-field" placeholder="Enter Full Name" required ng-model="id">
        <input type="email" class="input-field" placeholder="Enter Email" required ng-model="email">
        <input type="password" class="input-field" placeholder="Enter Password" required ng-model="pass">
        <input type="checkbox" class="check-box" required><span>Agree terms & conditions</span>
        <button type="submit" class="submit-btn">Register</button>
      </form>
    </div>
    

  </div>
  